@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&family=Raleway:wght@300&display=swap');
.login{
  font-family:'Josefin Sans', sans-serif;
}
.btn{
  color:#ddcaac;
  border:#ddcaac;
  padding: 0.25rem 1.5rem;
}
.btn:hover{
  background-color: #ddcaac;
  color:#090920;
}
