*{
  padding:0;
  margin:0;
}

.container-fluid{
  background-image: url("../../../assets/bg_estrellas5.png");
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: solid 1px #ddcaac98;
  color: #f5ecdebd;
  font-family:'Josefin Sans', sans-serif;
  padding: 5rem;

}


h1{
  display: inline;
  padding-bottom: 2rem;
  color: #f5ecdebd;
  font-family:'Josefin Sans', sans-serif;
  text-align: center;
}
h4, h5, p{
  display: inline;
  color: #f5ecdebd;
  font-family:'Josefin Sans', sans-serif;
}

.table{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 10px;

}
